<main class="container py-4">
    <section class="row">
        <h1 class="text-center">Handyman</h1>
    </section>
    <section class="row">
        <div class="col-md-4">
            <div class="card my-4">
                <div class="card-body">
                    <app-service-technician-form></app-service-technician-form>
                </div>
            </div>
        </div>
        <div class="col-md-8">
            <div class="card my-4">
                <div class="card-body">
                    <app-service-hours-calculator></app-service-hours-calculator>
                </div>
            </div>
        </div>
    </section>
</main>
