<form [formGroup]="form" (ngSubmit)="onSubmitForm()" class="needs-validation">


    <div class="row">

        <div class="col">
            <label class="form-label">Tipo de documento del técnico</label>
            <select class="form-select" [formControl]="technicianDocumentTypeControl"
                [class.is-invalid]="hasError(form, 'technicianDocument') && hasError(technicianDocumentGroup,'type')">
                <option value="CC">CC</option>
                <option value="Cédula de extrangería">CE</option>
            </select>
            <div class="invalid-feedback">
                Tipo de documento del técnico {{hasInvalidTechnicianDocument? 'no válido' : 'requerido'}}
            </div>
        </div>

        <div class="col">
            <label class="form-label">Documento del técnico</label>
            <input class="form-control" [class.is-invalid]="hasError(form, 'technicianDocument')" type="text"
                [formControl]="technicianDocumentNumberControl" placeholder="Ingrese el ID del técnico" size="20"
                required>
            <div class="invalid-feedback">
                Número de documento del técnico {{hasInvalidTechnicianDocument? 'no válido' : 'requerido'}}
            </div>
        </div>

        <div class="col">
            <label class="form-label">Número de semana</label>
            <select class="form-select" formControlName="numberOfWeek"
                [class.is-invalid]="hasError(form, 'numberOfWeek')" (ngModelChange)="onClickWeek($event)">
                <option *ngFor="let week of quantityWeek" [value]="week">>
                    {{week}}
                </option>
            </select>
        </div>

    </div>

    <div class="row" style="margin-bottom: 1rem;">
        <div class="col">
            <label class="form-label">Fecha de inicio</label>
            <input class="form-control" [class.is-invalid]="hasError(form, 'startDate') || hasInvalidIntervalDate"
                type="datetime-local" formControlName="startDate" [min]="minDate" [max]="maxDate" name="startDate"
                required>
            <div class="invalid-feedback">
                Fecha de inicio {{hasInvalidStartDate || hasInvalidIntervalDate? 'no válida' : 'requerida'}}
            </div>
        </div>

        <div class="col">
            <label class="form-label">Fecha fin</label>
            <input class="form-control" [class.is-invalid]="hasError(form, 'finalDate') || hasInvalidIntervalDate"
                type="datetime-local" [min]="minDate" [max]="maxDate" formControlName="finalDate" name="finalDate"
                required>
            <div class="invalid-feedback">
                Fecha de fin {{hasInvalidFinalDate || hasInvalidIntervalDate? 'no válida' : 'requerida'}}
            </div>
        </div>
    </div>
    <div class="alert alert-danger my-3" role="alert" *ngIf="errorMessage">
        {{ errorMessage }}
    </div>

    <div class="row">
        <div class="col">
            <button type="submit" class="btn btn-primary" [disabled]="form.pending">Consultar</button>
        </div>
        <div class="col">
            <button (click)="clean()" class="btn btn-success" [disabled]="form.pending">Limpiar</button>
        </div>
    </div>
</form>